<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>
  </head>
  <body>
    <h1>Admin Login Page</h1>
    <form action="/auth/admin" method="POST">
      <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="user[email]" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="user[password]" required />
      </div>
      <button>Login</button>
    </form>
  </body>
</html>
